container_commands:
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_chown_sqlitedb:      # 리눅스컴퓨터 설정 접근 가능하게
    command: "sudo chown wsgi db.sqlite3"
    leader_only: true
  # 03_seed:
  #   command: "python manage.py loaddata users.json"
  #   leader_only: true
  # 04_collectstatic:
  #   command: "python manage.py collectstatic"
  #   leader_only: true
  
  




options_settings:
  aws:elasticbeanstalk:application:enviroment:
    DJANGO_SETTINGS_MODULE: finalpjt.settings
    # 기본 셋팅
